name: Node Server CI/CD

on:
  push:
    branches: [ "backend/fix/19" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      # 배포용 디렉토리
      - name: Prepare deploy directory
        run: |
          mkdir deploy
          cp -r dist deploy/
          cp package.json package-lock.json deploy/
          ls -al deploy

      - name: Deploy to EC2
        uses: Burnett01/rsync-deployments@v8
        with:
          switches: -avz --delete
          path: deploy/
          remote_path: /home/ubuntu/server
          remote_host: ${{ secrets.EC2_HOST }}
          remote_user: ${{ secrets.EC2_USER }}
          remote_key: ${{ secrets.EC2_SSH_KEY }}

      - name: Restart server with PM2 (safe)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/server
            npm ci --omit=dev

            pm2 delete all || true
            pm2 start /home/ubuntu/ecosystem.config.js --env production
            pm2 save

            pm2 list
          
